.container {
  background-color: var(--primary);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

.btn {
  flex: 1;
  padding: 1rem 0;
}

.btn svg {
  font-size: 1.5rem;
  fill: var(--gray900);
}