.footer {
  background-color: var(--layout);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 10000;
}

.footer .btn {
  flex: 1;
  padding: 1rem 0;
}

.footer .icon {
  color: var(--on-layout);
}