.container {
  border-bottom: 1px solid var(--lightgray);
  background-color: var(--surface);
  display: flex;
  align-items: stretch;
}

.container:last-child {
  border-bottom: none;
}

.container .icon,
.amount {
  display: grid;
  place-content: center;
}

.text-container {
  color: var(--on-surface);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  color: var(--on-surface-light);
}

.amount.expense {
  color: var(--error-light);
}

.amount.income {
  color: var(--success-light);
}