.textfield-container {
  position: relative;
}

.input {
  color: var(--gray900);
  font-family: var(--font);
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 100%;
  min-width: 1.4375rem;
  padding: 1rem;
}

.textarea .input {
  resize: none;
}

.label {
  font-family: var(--font);
  font-weight: 300;
  white-space: nowrap;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: transform 0.1s linear;
}

.fieldset {
  border: 1px solid var(--gray500);
  border-radius: 4px;
  position: absolute;
  top: -0.49rem;
  left: -0.12rem;
  right: -0.12rem;
  bottom: 0;
  z-index: -1;
}

.legend {
  font-family: var(--font);
  font-size: 0.7rem;
  white-space: nowrap;
  max-width: 0.01px;
  visibility: hidden;
  padding: 0;
}

.input:focus + .label,
.contained .label {
  font-size: 0.7rem;
  font-weight: 300;
  transform: translate(-0.05rem, -1.5rem);
}

.contained .label {
  color: var(--gray500);
}

.input:focus + .label {
  color: var(--primary);
}

.error .label {
  color: var(--error) !important;
}

.input:focus ~ .fieldset {
  border: 2px solid var(--primary);
}

.error .fieldset {
  border: 2px solid var(--error) !important;
}

.input:focus ~ .fieldset .legend,
.contained .legend {
  padding-right: 0.2rem;
  max-width: unset;
}