.wrapper {
  height: 4rem;
  width: 4rem;
  display: inline-block;
  transform: rotate(0deg);
  transform-origin: center;
  animation: rotate 1.4s ease-in-out infinite;
}

.circle {
  stroke: var(--primary);
  stroke-dasharray: 80px 200px;
  stroke-dashoffset: 0px;
  animation: progress 1.4s ease-in-out infinite;
}

@keyframes progress {
  0% {
    stroke-dasharray: 1px 200px;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100px 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px 200px;
    stroke-dashoffset: -125px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}