.wrapper {
  background-color: var(--on-layout);
  width: 3rem;
  height: 1.25rem;
  border-radius: 0.75rem;
  position: relative;
}

.ball {
  background-color: var(--black);
  border-radius: 50%;
  height: 1.875rem;
  width: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  transition: 0.1s transform linear;
}

.ball.checked {
  transform: translate(18px, -50%);
}