.container {
  font-family: var(--font);
  font-size: 1rem;
  border-radius: 4px;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.container.error {
  color: var(--error-invert);
  background-color: var(--error);
}

.container.warning {
  color: var(--warning-invert);
  background-color: var(--warning);
}

.container.success {
  color: var(--success-invert);
  background-color: var(--success);
}

.container .icon {
  color: inherit;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.container .action {
  background-color: transparent;
  position: absolute;
  right: 0;
}