.view-port {
  height: 100vh;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
}

.main {
  background-color: var(--background);
  height: calc(100vh - 56px * 2);
  overflow-y: scroll;
  overflow-x: hidden;
}

.main.no-header {
  height: calc(100vh - 56px);
}

.view-port .snackbar {
  width: calc(100% - 2rem);
  position: fixed;
  bottom: calc(56px + 1rem);
  right: 1rem;
  z-index: 20000;
}