.view-port {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding-bottom: calc(24px + 2rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

.snackbar {
  width: calc(100% - 2rem);
  position: fixed;
  z-index: 5000;
  bottom: calc(56px + 1rem);
  right: 1rem;
}