.header {
  background-color: var(--layout);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000;
}

.header .arrow-btn {
  height: 3.5rem;
  width: 3.5rem;
  display: grid;
  place-content: center;
}

.header .arrow {
  color: var(--on-layout);
}

.headline {
  flex: 1 1 0;
  color: var(--on-layout);
}

.header .switch {
  margin-right: 1.25rem;
}

.header .switch .icon {
  color: #FFF;
}