.calendar-wrapper {
  background-color: var(--surface);
  width: 100%;
  height: 50%;
}

.calendar {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.calendar th {
  color: var(--on-surface-light);
  text-align: left;
  padding-left: 0.3rem;
}

.calendar td {
  color: var(--on-surface);
  width: calc(100% / 7);
  position: relative;
}

.calendar td.active {
  border-radius: 10%;
  outline: 2px solid var(--primary);
}

.calendar td .date {
  color: var(--on-surface);
  font-weight: 400;
  padding: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
}

.calendar td.disabled .date {
  color: var(--disabled);
}

.calendar td.today .date {
  background-color: var(--primary);
  color: var(--on-primary);
  border-radius: 25%;
}

.calendar td .amount {
  font-size: 0.6rem;
  padding: 0.3rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.calendar td .amount.income,
.daily-breakdown .income {
  color: var(--success-light);
}

.calendar td .amount.expense,
.daily-breakdown .expense {
  color: var(--error-light);
}

.transactions-list {
  height: 50%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.daily-breakdown {
  display: flex;
  justify-content: space-between;
}

.text {
  color: var(--on-background);
}

.fulldate {
  flex: 1 1 0;
}

.fallback {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fallback-icon,
.fallback-text {
  color: var(--on-surface-light);
}