@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base-text {
    @apply font-primary antialiased text-inherit;
  }

  .base-btn {
    @apply
      center
      rounded after:rounded border border-solid shadow
      base-text text-sm text-center 
      no-select no-tap btn-effect;
  }

  .base-btn:disabled {
    @apply text-disabled shadow-none after:hidden;
  }
}

@layer utilities {
  .no-tap {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* tricks to avoid ios tap effect */
  }

  .no-wrap {
    @apply text-ellipsis whitespace-nowrap overflow-hidden;
  }

  .no-select {
    @apply select-none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .btn-effect {
    @apply
      relative
      after:absolute after:inset-[-1px]
      after:bg-transparent after:transition-colors
      active:after:bg-overlay
      sm:active:after:bg-transparent
      sm:hover:after:bg-overlay;
  }

  .center {
    @apply grid place-content-center;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}