.input-row {
  display: flex;
  align-items: center;
}

.gray-icon {
  color: var(--disabled);
}

.select,
.textfield,
.datetime-picker {
  width: 100%;
}

.delete-btn {
  color: var(--on-error);
  right: 5rem;
}

.edit-btn,
.submit-btn {
  color: var(--on-success);
}

.hidden {
  display: none;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-icon {
  color: var(--error);
}

.popup-actions {
  display: flex;
}