:root {
  --primary: #ffc107;
  --primary-light: #ffecb3;
  --primary-dark: #ffa000;
  --on-primary: #212121;
  --layout: #ffc107; /* header and footer color */
  --on-layout: #212121;
  --background: #fbfbfb;
  --on-background: #212121;
  --surface: #fff;
  --on-surface: #212121;
  --on-surface-light: #9e9e9e;
  --disabled: rgba(0, 0, 0, 0.38);
  --black: #000000;
  --white: #FFFFFF;
  --overlay: rgba(0, 0, 0, 0.15);
  --border: #e0e0e0;
  --error: #d32f2f;
  --error-light: #ef5350;
  --error-dark: #c62828;
  --on-error: #fff;
  --success: #2e7d32;
  --success-light: #4caf50;
  --success-dark: #1b5e20;
  --on-success: #fff;
  --warning: #ef6c00;
  --warning-light: #ff9800;
  --warning-dark: #e65100;
  --on-warning: #fff;
}