.select-container {
  min-width: 8rem;
  position: relative;
  display: inline-block;
}

.label {
  color: var(--on-surface);
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: transform 0.1s linear;
}

.display {
  color: var(--on-surface);
  background-color: var(--surface);
  min-width: 1.4375rem;
}

.arrow {
  color: var(--on-surface);
  position: absolute;
  right: 0.35rem;
  top: calc(50% - 0.8rem);
  transition: transform 0.1s linear;
}

.fieldset {
  border: 1px solid var(--on-surface-light);
  border-radius: 4px;
  position: absolute;
  top: -0.49rem;
  left: -0.12rem;
  right: -0.12rem;
  bottom: 0;
}

.legend {
  max-width: 0.01px;
  visibility: hidden;
}

.options {
  background-color: var(--surface);
  min-width: 100%;
  max-height: calc(56px * 5 + 1rem);
  overflow-y: scroll;
  position: absolute;
  z-index: 10;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.1s linear, transform 0.1s linear;
}

.option {
  min-height: 56px;
  display: flex;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay.hidden {
  display: none;
}

.active .label,
.selected .label {
  transform: translate(-0.05rem, -1.5rem);
}

.active .legend,
.selected .legend {
  max-width: unset;
}

.selected .label {
  color: var(--on-surface-light);
}

.active .label {
  color: var(--primary);
}

.active .arrow {
  transform: rotateZ(180deg);
}

.active .options {
  opacity: 1;
  transform: scaleY(1);
}

.active .fieldset {
  border: 2px solid var(--primary);
}

.active .overlay {
  z-index: 1;
}

.error .label {
  color: var(--error);
}

.error .fieldset {
  border: 2px solid var(--error);
}