.container {
  border-bottom: 1px solid var(--lightgray);
  background-color: var(--surface);
  display: flex;
  align-items: stretch;
}

.container:last-child {
  border-bottom: none;
}

.details {
  flex: 1 1 0;
}

.text-wrapper {
  display: flex;
  align-items: center;
}

.name, .amount {
  color: var(--on-surface);
}

.percent {
  flex: 1 1 0;
  color: var(--on-surface-light);
}