.typography {
  color: inherit;
  font-family: var(--font);
  margin: 0;
  padding: 0;
}

.h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.h4 {
  font-size: 1rem;
  font-weight: 700;
}

.h5 {
  font-size: 1rem;
  font-weight: 500;
}

.h6 {
  font-size: 1rem;
  font-weight: 400;
}

.body {
  font-size: 0.875rem;
  font-weight: 400;
}

.caption {
  font-size: 0.75rem;
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}