.container {
  font-family: var(--font);
  padding: 1rem;
  display: flex;
  align-items: center;
}

.col {
  display: inline-block;
  height: calc(36px * 9);
  width: calc(50% - 0.25rem);
  margin-right: 0.5rem;
  overflow-y: scroll;
}

.col:last-child {
  margin-right: 0;
}

.btn {
  color: var(--gray900);
  width: 100%;
  height: 36px; /* trick to ensure the height is 36px in mobile */
}