.header {
  background-color: var(--layout);
  padding: 1.5rem 1rem 2.75rem;
  position: relative;
}

.header .switch {
  position: absolute;
  right: 1rem;
  top: 1.75rem;
}

.header .time {
  color: var(--on-layout);
}

.header .balance {
  color: var(--on-layout);
  line-height: 1;
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.header .balance .eye {
  color: var(--on-layout);
  margin-right: 0.5rem;
}

.header .card {
  background-color: var(--surface);
  padding: 1rem;
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: -2.25rem;
}

.header .budget-text {
  color: var(--on-surface);
  margin-bottom: 1rem;
}

.over-budget span {
  color: var(--error-light);
  font-weight: 700;
}

.container {
  padding: calc(40px + 0.75rem) 1rem 1rem;
}