.header {
  background-color: var(--primary);
  padding: 1.5rem 1rem 3rem;
  position: relative;
}

.header-time {
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--gray900);
}

.header-balance {
  font-family: var(--font);
  font-weight: 700;
  color: var(--gray900);
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.header-balance span {
  font-size: 1.125rem;
  color: var(--gray900);
}

.budget-card {
  font-family: var(--font);
  color: var(--gray900);
  padding: 1rem;
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: -2.5rem;
}

.budget-status {
  margin-bottom: 1rem;
}

.over-budget span {
  color: var(--error-light);
  font-weight: 700;
}

.main {
  padding: calc(40px + 1rem) 1rem 1rem;
}

.group {
  margin-bottom: 1rem;
}

.group:last-child {
  margin-bottom: 0;
}

.group-title {
  margin-bottom: 1rem;
}