.header {
  background-color: var(--primary);
  padding: 1.5rem 1rem 2.75rem;
  position: relative;
}

.header .switch {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}

.header .switch .icon {
  color: #FFF;
  font-size: 1rem;
}

.header-time {
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-primary);
}

.header-balance {
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

/* Icon */
.header-balance span {
  font-size: 1.125rem;
  color: var(--text-primary);
}

main .budget-card {
  font-family: var(--font);
  font-size: rem;
  font-weight: 400;
  color: var(--text-primary);
  padding: 1rem;
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: -2.25rem;
}

.budget-status {
  margin-bottom: 1rem;
}

.over-budget span {
  color: var(--error-light);
  font-weight: 700;
}

.container {
  padding: calc(40px + 0.75rem) 1rem 1rem;
}

.group {
  margin-bottom: 1rem;
}

.group:last-child {
  margin-bottom: 0;
}

.group-title {
  margin-bottom: 1rem;
}