.h1 {
  font-family: var(--font);
  font-weight: 700;
  font-size: 1.25rem;
}

.h2 {
  font-family: var(--font);
  font-weight: 700;
  font-size: 1.125rem;
}

.h3 {
  font-family: var(--font);
  font-weight: 700;
  font-size: 1rem;
}

.h4 {
  font-family: var(--font);
  font-weight: 400;
  font-size: 1rem;
}