h1 {
  font-family: var(--font);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--text-primary);
}

h2 {
  font-family: var(--font);
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--text-primary);
}

h3 {
  font-family: var(--font);
  font-weight: 700;
  font-size: 1rem;
  color: var(--text-primary);
}

h4 {
  font-family: var(--font);
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-primary);
}