.main {
  padding: 1rem;
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input-row:last-child {
  margin-bottom: 0;
}

.icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.select,
.textfield,
.datetime-picker {
  width: 100%;
}