.main {
  padding: 1rem;
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input-row:last-child {
  margin-bottom: 0;
}

.icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.icon.gray {
  color: var(--text-secondary);
}

.select,
.textfield,
.datetime-picker {
  width: 100%;
}

.main .float-btn span {
  color: var(--secondary-light);
  font-size: 2rem;
}

.main .float-btn-left {
  right: 5rem;
}

.main .float-btn.hide {
  display: none;
}

.main .popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .popup-icon {
  color: var(--error);
  font-size: 3rem;
}

.main .popup-title {
  text-align: center;
}

.main .popup-actions {
  display: flex;
  margin-top: 1rem;
}

.main .popup-btn {
  font-family: var(--font);
  font-size: 1rem;
  margin: 0 1rem;
}