.container {
  padding: 1rem;
};

.icon {
  color: var(--gray900);
  font-size: 1.5rem;
}

.calendar-control {
  font-family: var(--font);
  display: flex;
  margin-bottom: 1rem;
}

.year-select {
  flex: 1 1 0;
  font-size: 1rem;
  padding: 0.5rem;
}

.arrow {
  color: var(--gray900);
  font-size: 1.5rem;
  margin-right: 1rem;
}

.arrow:last-child {
  margin-right: 0;
}

.calendar {
  font-family: var(--font);
  width: 100%;
  /* min-height: 270px; */
}

.calendar tr {
  display: flex;
  justify-content: space-evenly;
}

.calendar tr th,
.calendar tr td {
  font-size: 0.7rem;
  flex: 1;
  display: flex;
  place-content: center;
}

.calendar tr th {
  color: var(--gray500);
}

.calendar tr td button {
  color: var(--gray900);
}

.calendar tr td button:disabled {
  color: var(--gray300);
}