.header {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000;
}

.back-arrow {
  height: 3.5rem;
  width: 3.5rem;
  display: grid;
  place-content: center;
}

.back-arrow svg {
  fill: var(--primary-invert);
  font-size: 1.5rem;
}

.headline {
  flex: 1 1 0;
  color: var(--primary-invert);
  font-size: 1.25rem;
}